/****** PLACE YOUR CUSTOM STYLES HERE ******/

.main .col-xs-12.ng-enter {
    transform: translateX(-500px);
    opacity: 0;

    -webkit-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    -moz-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    -ms-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    -o-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    transition: all 0.35s cubic-bezier(1, .01, 0, .99);
}

.main .col-xs-12 {
    margin-top: 55px;
}

.cp-cont .btn {
    min-width: 100px;
}

.search-parent .popover-content {
    max-height: 400px;
    overflow-y: auto;
}

.search-parent .popover-title {
    height: 34px;
    padding-top: 0px;
}

.button-bar {}

.storehub button {
    padding: 3px 10px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 10px;
    font-family: inherit !important;
}

.storehub button:focus {
    border: 1px solid #333;
}

.storehub input {
    background: #f5f5f5;
    border: none;
    width: initial !important;
    height: 50px;
    min-width: 400px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}

.storehub-panel {
    overflow: hidden;
    border: 1px solid;
    border-radius: 5px;
}

.storehub-panel .header,
.storehub-panel .panel {
    padding: 10px;
    border-radius: 0;
    margin: 0;
    font-family: inherit !important;
}



.cp-cont input[data-cp-t] {
    padding-left: 1px;
    height: 30px;
    margin: 0px;
}

.colorTarget .preview {
    float: left;
    margin-bottom: -10em;
    position: relative;
    width: 14px;
    height: 50px;
}

.col-xs-12.ng-scope .tab-content>.active {
    margin-top: 2em;
}

.cpBG {
    margin-top: -3em;
}

.main .col-xs-12.ng-enter-active {
    transform: translateX(0px);
    opacity: 1;
}

.alerList {
    position: fixed;
    right: 10px;
    top: 30px;
    width: 280px;
    z-index: 100;
    max-height: 500px;
    overflow-y: auto;
}

.alerList .alert {
    background-color: #ededed;
}

pre {
    padding: 16px;
}

.main .col-xs-12.ng-leave {
    transform: translateX(0);
    opacity: 1;

    -webkit-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    -moz-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    -ms-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    -o-transition: all 0.35s cubic-bezier(1, .01, 0, .99);
    transition: all 0.35s cubic-bezier(1, .01, 0, .99);
}

.main .col-xs-12.ng-leave-active {
    transform: translateX(500px);
    opacity: 0;
}

.abutton.col-xs-2 {
    margin-right: 6px;
    padding: 6px;
}

.popover-title {
    text-align: center;
}

.row>.abutton {
    height: 30px;
    font-size: 11px;
    line-height: 15px;
    min-width: 0;
    border: 2px solid #333347;
    background: #333347;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 !important;
}

.field-help {
    position: relative;
    top: -24px;
    font-size: 12px;
}

.list-group-item h4,
.list-group-item button {
    margin-bottom: 10px;
}

.sticky-panel {
    position: fixed;
    right: 15px;
    height: calc(100% - 160px);
    border-bottom: 1px solid #666;
    overflow-y: auto;
    background: #fff;
}

.swal-button {
    background: none !important;
    color: #333347 !important;
}

div.scrollmenu {
    position: absolute;
    display: block;
    width: 100%;
    white-space: nowrap;
    max-height: 500px;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

div.scrollmenu>div.block {
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 165px;
    height: 115px;
}