.image-tag-wrapper {
  z-index: 5;
  position: relative;
}

.image-tag-wrapper .tagdiv {
  position: absolute;
  background-color: #E74C3C;
  color: white;
  z-index: 10;
  cursor: default;
  padding:0 10px;
}

.image-tag-wrapper .tagform-wrapper {
  position: absolute;
  background-color: #E74C3C;
  color: white;
  z-index: 10;
  cursor: default;
  padding:10px;
}

.image-tag-wrapper .tagform-wrapper a {
  color: white;
}

.image-tag-wrapper.enabled {
  cursor: crosshair;
}