<div class="row" style="margin-top:4em">
    <button ng-click="modal('app-place')" style="margin-left: 13px;" class="pull-right btn abutton ">Billing</button>
    <button ng-click="modal('app-place')" class="pull-right btn abutton ">Add apps</button>

    <h3>Apps</h3>
    <hr>
    <div class='row'>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"> <img style="width: 40px;
    margin-right: 15px;
    border-radius: 50%;" src="https://placehold.it/300x300"> App name</div>
                <div class="panel-body ">
                    <div class="row">
                    	<p><strong>Usage:</strong> <br/>
                    	</p>
                        <button class="btn abutton btn-sm">Uninstall</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>