<div class="row" style="position: fixed;
    top: 63px;">

    <button class="abutton  btn btn-sm" ng-click="">Select all</button>
    <button class="abutton  btn btn-sm" ng-click="">Deselect all</button>

    <button class="abutton  btn btn-sm" ng-click="">Clone</button>
    <button class="abutton btn btn-sm" ng-click="">Delete</button>
    <button class="abutton  btn btn-sm" ng-click="">Get HTML code</button>
    <br>
</div>
<div class="col-sm-12">
    <h4>{{ resName == "api" ? "Website" : capitalizeFirstLetter(resName) }}s</h4>
    <hr>
    <div class="text-center" ng-if="items.length == 0">
        <h6>You currently have no {{ resName == "api" ? "Website" : capitalizeFirstLetter(resName) }}s listed.</h6>
        <hr>
        <a href="#/new/{{ resName }}s" class="btn">New</a>
    </div>
    <div class="list-group">
        <div class="list-group-item col-lg-3" ng-repeat="item in items">
            <input type="checkbox" class="full-checkbox" name="">
            <h6 style="margin:7px;">{{ item.name ? item.name : "NONAME" }}</h6>
            <p>Created : {{ item.created_at }} </p>
            <a href="#/{{ resName == 'api' ?  'website' : resName }}s/{{item._id}}">edit</a>
        </div>
    </div>
</div>