<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Join ::: StoreHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme-gunmetal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/admin/app.js"></script>
    <script type="text/javascript" src="/js/admin/authenticator.js"></script>
    <script type="text/javascript" src="/js/sha256.js"></script>
</head>

<body ng-app="app">
    <div class="nav-container">
        <nav>
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <div class="vnu"><img class="logo logo-light" alt="Foundry" src="img/logo-light.png"></div>
                        <div class="vnu"><img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png"></div>
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="products.html" class="inner-link" target="_self">Products</a>
                            </li>
                            <li class="vpf">
                                <a href="pricing.html">Pricing</a>
                            </li>
                            <li class="vpf">
                                <a href="faq.html" class="inner-link" target="_self">faq</a>
                            </li>
                            <li class="vpf">
                                <a href="contact.html" class="inner-link" target="_self">contact</a>
                            </li>
                            <li class="vpf">
                                <a href="demo.html" class="inner-link" target="_self">Demo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-container" style="min-height: 350px;margin-top: 1em;" ng-controller="authenticator">
        <section>
            <div class="container">
                <form ng-submit="join()">
                    <h1>Join</h1>
                    <p>enter your personal information to join.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" required ng-model="data.email" class="validate-required field-error" placeholder="Email">
                            <label class="field-help">Your email address</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" ng-model="data.name" requires class="validate-required field-error" placeholder="Name">
                            <label class="field-help">Your full name</label>
                        </div>
                   
                        <div class="col-md-6">
                            <input required ng-model="data.password" type="password" class="validate-required field-error" placeholder="Password">
                        </div>
                    </div>
                    <h3>Pick your plan</h3>
                    <hr>
                    <br />
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <h3>Essential</h3>
                            <hr>
                            <p style="height: 100px;">For smaller businesses or solopreneurs that need a little pick-me-up</p>
                            <h5>Choose any three StoreHub apps</h5>
                            <h3>$29/month</h3>
                            <ul>
                                <li>Enhance Your Site Without Rebuilding</li>
                                <li>Spend Less Time → Get More Sales</li>
                                <li>Up and Running in Minutes</li>
                            </ul>
                            <p class="text-muted" ng-if="data.plan_id == 'Essential'">You selected this plan.</p>
                            <button class="btn" type="button"  ng-if="data.plan_id != 'Essential'" ng-click="data.plan_id = 'Essential';">select</button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3>Professional</h3>
                            <hr>
                            <p style="height: 100px;">Larger online presence needing a big boost to innovation and revenue generation. Larger teams that are struggling to keep growth goals</p>
                            <h5>Get ALL the StoreHub Apps</h5>
                            <h3>$149/month</h3>
                            <ul>
                                <li>Includes all Starter Plan functionality</li>
                                <li>Handle Retail and eCommerce Growth</li>
                                <li>Apps Work Together to Save Time</li>
                            </ul>
                            <p class="text-muted" ng-if="data.plan_id == 'Professional'">You selected this plan.</p>
                            <button type="button" class="btn"  ng-if="data.plan_id != 'Professional'" ng-click="data.plan_id = 'Professional';">select</button>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3>Enterprise</h3>
                            <hr>
                            <p style="height: 100px;">Need a premier growth platform with enhancements to meet your companies unique needs? We’ll help you customize the platform to suit all your needs</p>
                            <h5>Get ALL the StoreHub Apps</h5>
                            <h3>Contact Us</h3>
                            <ul>
                                <li>Includes All Functionality</li>
                                <li>Large Enterprise Management Tools</li>
                                <li>Easily Integrate with Existing Systems and Streamline</li>
                            </ul>
                            <p class="text-muted" ng-if="data.plan_id == 'Enterprise'">You selected this plan.</p>
                            <button type="button" class="btn"  ng-if="data.plan_id != 'Enterprise'" ng-click="data.plan_id = 'Enterprise';">select</button>
                        </div>
                    </div>
                      <input type="checkbox" required style="margin-top:2.2em;" ng-model="tos"> I accept the terms of use.
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="abutton" ng-disabled="!tos" type="submit">Join</button>
                        </div>
                        <div class="col-sm-8"><a href="/login.html">Login</a>
                            <br/> <a href="/reset.html">Reset password</a></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <footer class="footer-2 bg-dark text-center-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#">
                        <div class="vnu"><img class="image-xxs fade-half" alt="Pic" src="img/logo-light.png"></div>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <span class="fade-half">
                                © Copyright 2018 StoreHub - All Rights Reserved
                            </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>