<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme-gunmetal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/admin/app.js"></script>
    <script type="text/javascript" src="/js/admin/authenticator.js"></script>
    <script type="text/javascript" src="/js/sha256.js"></script>

</head>

<body ng-app="app">
    <div class="nav-container">
        <nav>
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <div class="vnu"><img class="logo logo-light" alt="Foundry" src="img/logo-light.png"></div>
                        <div class="vnu"><img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png"></div>
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="products.html" class="inner-link" target="_self">Products</a>
                            </li>
                            <li class="vpf">
                                <a href="pricing.html">Pricing</a>
                            </li>
                            <li class="vpf">
                                <a href="faq.html" class="inner-link" target="_self">faq</a>
                            </li>
                            <li class="vpf">
                                <a href="contact.html" class="inner-link" target="_self">contact</a>
                            </li>
                            <li class="vpf">
                                <a href="demo.html" class="inner-link" target="_self">Demo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="main-container" style="min-height: 350px;margin-top: 1em;" ng-controller="authenticator">
        <section>
            <div class="container">
                <form ng-submit="login()">
                    <h1>Login</h1>
                    <p>enter your login information below to access your admin panel.</p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" ng-model="data.email" class="validate-required field-error" placeholder="Email">
                            <label class="field-help">The email you joined StoreHub with,</label>
                        </div>
                        <div class="col-sm-6">
                            <input ng-model="data.password" type="password" class="validate-required field-error" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="abutton" type="submit">Login</button>
                        </div>
                        <div class="col-sm-8"><a href="/join.html">Join StoreHub</a>
                            <br/> <a href="/reset.html">Reset password</a></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <footer class="footer-2 bg-dark text-center-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#">
                        <div class="vnu"><img class="image-xxs fade-half" alt="Pic" src="img/logo-light.png"></div>
                    </a>
                </div>
                <div class="col-sm-4 text-center">
                    <span class="fade-half">
								© Copyright 2018 StoreHub - All Rights Reserved
							</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>